<!DOCTYPE html>
<html>
<head>   
    <% include partials/headerFiles.ejs %>      
    <title>Homepage</title>
</head>

<% include partials/nav.ejs %>

<body class="text-center">

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to my site!</h1>
            <p>This is built by Express.js</p>
        </div>
    </div>

    <% include partials/footerFiles.ejs %>       
</body>
</html>